
<div class="container">
  <div class="row user">
    <h1 class="s12 page-title">Users</h1>

    <div class="notice-container">
      <p id="notice"><%= notice %></p>
    </div>

    <div class="s12 card primary-card card-large">

      <table id="table-user">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to 'Show', user, class: 'waves-effect waves-teal btn-flat' %></td>
              <td><%= link_to 'Edit', edit_user_path(user), class: 'waves-effect waves-teal btn-flat' %></td>
              <td><%= link_to 'Destroy', user, class: 'waves-effect waves-teal btn-flat', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="card-action">
        <%= link_to 'New User', new_user_path, class: 'waves-effect waves-teal btn-flat primary-btn' %>
      </div>

    </div>
  </div>
</div>
