<div class="container">
  <div class="row user">
  <p class="user-recipe-title">Receitas de</p>
  <h1 class="s12 page-title"><%= @user.name %> <% if @user.id == current_user.id %>
    <%= link_to 'Editar', edit_user_path(@user), class: 'primary-btn edit-link' %>
  <% end %></h1>

  <div class="notice-container">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="col s12 m6">
      <div class="card card-medium">
        <div class="card-title">
          <p class="title-name"><%= recipe.title %></p>
          <div class="row">
            <p class="title-subtitle col s6">por <%= recipe.user.name %></p>
            <p class="title-category col s6"><%= recipe.categories.collect { |c| c.name }.join(', ') %></p>
          </div>
        </div>

      <div class="card-action">
        <%= link_to 'VER RECEITA COMPLETA', recipe_path(recipe)  %>
      </div>
      </div>
    </div>
    <% end %>
  </div>

  </div>
</div>
