<div class="container">
  <div class="row">
    <% if !@recipes.any? %>
      <h1>NÂO TEM NADA</h1>
    <% end %>
    <% @recipes.find_each do |recipe| %>
    <div class="col s12 m6">
      <div class="card card-medium">
        <div class="card-title">
          <p class="title-name"><%= recipe.title %></p>
          <div class="row">
            <p class="title-subtitle col s6">por <%= recipe.user.name %></p>
            <p class="title-category col s6"><%= recipe.categories.collect { |c| c.name }.join(', ') %></p>
          </div>
        </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12 m8 recipe-ingredients">
            <p>Ingredientes</p>
            <ul class="ingredients-list">
              <% recipe.recipe_items.limit(8).find_each do |recipe_item| %>
                <li class="ingredient"><%= show_recipe_item_full_name(recipe_item) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col s12 m4">
            <div class="col s6 m12 recipe-info">
              <i class="material-icons">timer</i>
              <p class="label">preparo</p>
              <p class="info"><%= show_time_only(recipe.preparation_time) %></p>
            </div>
            <div class="col s6 m12 recipe-info">
              <i class="material-icons">room_service</i>
              <p class="label">porções</p>
              <p class="info"><%= recipe.servings %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <%= link_to 'VER RECEITA COMPLETA', recipe_path(recipe)  %>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
