<div class="container">
  <div class="row login">
    <h2 class="s12 page-title">Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="notice-container">
      <p class="alert"><%= alert %></p>
    </div>

    <div class="col s12 m8 offset-m2 card card-medium">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <%= f.text_field :email,  id: 'email' %>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <%= f.password_field :password, id: 'password', autocomplete: "off"  %>
          <label for="password">Senha</label>
        </div>

        <div class="input-field col s12">
          <%= f.check_box :remember_me, id: 'remember_me' %>
          <label for="remember_me">Lembrar</label>
        </div>
      </div>

      <div class="card-action">
        <%= f.submit 'Login', class: 'right sucess-btn' %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
