<!DOCTYPE html>
<html>
  <head>
    <title>Leaf</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul id="nav-user" class="dropdown-content">
        <li><a href="#!">Login</a></li>
      </ul>
      <nav class="nav-primary">
        <div class="nav-wrapper container" >
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down navbar-links">
            <li>
              <form class="row navbar-search">
                <div class="input-field col s12">
                  <input id="search" type="search" required>
                </div>
                <button class="btn-search" type="submit" name="action"></button>
              </form>
            </li>
            <li>
              <a class="dropdown-button link-dropdown" href="#!" data-activates="nav-user"><i class="ic-user"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="nav-secondary">
        <div class="nav-wrapper container">
          <ul class="left hide-on-med-and-down navbar-links">
            <li><a  href="#" class="primary-link">menu 1</a></li>
            <li><a href="#" class="primary-link">menu 2</a></li>
            <li><a href="#" class="primary-link">menu 3</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
